<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.sample.classes.SamplePrgm1"/>
      <class name="com.sample.classes.SamplePrgm2"/>
      <class name="com.sample.classes.SamplePrgm3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->